* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
body {
    background: #ffffff;
}
.foto-perfil{
    width: 400px;
    border-radius: 50%;
}
header {
    background-color: rgb(254, 249, 240);
    text-align: center;
}
.nombre{
    display: flex;
    justify-content: space-between; 
}
h1 {
    margin: 4px 25px;
}
.icon {
    width: 30px;
    margin: 5px;
}
section {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}
section:hover {
    background-color: black;
    color: #ffffff;
    box-shadow: 10px 10px 10px rgb(105, 105, 105);
    border: 1px solid #ffffff;
}
h2 {
    text-align: center;
}
h3 {
    margin: 8px;
}
footer {
    background-color: rgb(254, 249, 240);
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.gmail {
    width: 80px;
}
h4 {
    margin: 30px;
}